/Jeho.class
/Margret.class
/Cassidy.class
/Student.class
/CritterGUI.class
/Algae.class
/Craig.class
/Critter$TestCritter.class
/Critter.class
/CritterWorld.class
/InvalidCritterException.class
/Main.class
/Params.class
/CritterGUI$1.class
