/Jeho.class
/Margret.class
/Cassidy.class
/Student.class
/CritterGUI.class
/CritterGUI$1.class
/CritterGUI$2.class
/CritterGUI$1$1.class
/CritterGUI$3.class
/CritterGUI$4.class
/CritterGUI$5.class
/CritterGUI$6.class
/CritterGUI$7.class
/CritterGUI$8.class
/CritterGUI$3$1.class
